
<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="navbar-header">
            @*<button type="button" class="navbar-toggle" aria-expanded="false" aria-controls="navbarColor03" aria-label="Toggle navigation" data-target="#navbarColor03" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
            @* @Html.ActionLink("Widly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            @Html.ActionLink("Widly", "Index", "Home","Home",  new { @class = "navbar-brand" })

        </div>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="nav navbar-nav mr-auto">
                <li>@Html.ActionLink("Home", "Index","Home","Home",  new { @class = "nav-link" })</li>
                @*<li>@Html.ActionLink("Informazioni", "About", "Home", new { @class = "nav-link" })</li>*@
                <li>@Html.ActionLink("Customer", "ActionCustomers", "Customers", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                @*<li>@Html.ActionLink("Customer", "ActionCustomers", "Customers", new { area = "" }, new { @class = "nav-link" }) </li>*@
                @* <li>@Html.ActionLink("Customers", "ActionCustomers",controllerName:"Customers", "Customers", new { @class = "nav-link" })</li>*@
                <li>@Html.ActionLink("Contatto", "Contact", "Home","Home", new { @class = "nav-link" })</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
@*original <div class="navbar navbar-expand-md navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nome dell'applicazione", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Informazioni", "About", "Home")</li>
                    <li>@Html.ActionLink("Contatto", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
@*bootswatch <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarColor03" aria-label="Toggle navigation" type="button" data-target="#navbarColor03" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>*@
