@model Vidly.ViewModels.RandomMovieViewModel
  
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.Customers.Count > 0 ? "popular" : null;

}


<h2>@Model.Movie.Name</h2>

<h2 class="@className">@Model.Movie.Name</h2>

@Model.Customers.First().Name

@if (Model.Customers.Count == 0)
{
    <text> No one has enter this movie before.</text>
}
else
{ 
    <ul>
    @foreach (var customer in Model.Customers)
    {
        <li>@className + @customer.Name</li>
    }
</ul>

}


    